.loading {
  width: max-content;
  margin: auto;
}

.dog-photo {
  width: max-content;
  margin: 2rem auto;
}

.dog-photo img {
  width: 500px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.button-container button {
  padding: 1rem 2rem;
}
